@{
    ViewBag.Title = "Ошибка";
}

<h2><b>Ошибка</b></h2>

<p id="details">
     Извините, произошла непредвиденная ошибка.
    <a href="javascript:history.go(-1)">Кликните здесь</a>,
    если вы хотите вернуться и попробовать снова.
</p>